{% extends "base.html" %}
{% block title %}My Finance Map{% endblock %}
{% block content %}

<section>
    <div>
        <form method="POST">
            <h1>Edit Book</h1>
            <div class="amont_cls">
                <label for="add_amount">Amount</label>
                <input type="text" id="amount_id" name="amount_name" placeholder="19.00" required>
                <label for="add_currency">Currency</label>
                <input type="text" id="currency_id" name="currency_name" placeholder="USD" required>
            </div>

            <div class="type_cls">
                <label for="add_type">Type</label>
                <select id="type_id" name="type_name" required>
                    <option>Choose your Type</option>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                </select>
            </div>

            <div class="catagory_cls">
                <label for="add_catagory">Category</label>
                <select id="category_id" name="category_name" required>
                    <option>Choose your Category</option>
                    <option value="s_income">Income</option>
                    <option value="e_bill">Electric Bill</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="date_period_cls">
                <label>Period Month</label>
                <input type="month" name="period_month" required>

                <label>Date Paid</label>
                <input type="date" name="date_paid">

            </div>

            <div class="date_paid_cls">
                <label>Date paid</label>
                <input type="month" name="period_month" required>

                <label>Date Paid</label>
                <input type="date" name="date_paid">
            </div>

        </form>
    </div>
</section>

{% endblock %}