{% extends "base.html" %}
{% block title %}My Finance Map{% endblock %}
{% block content %}

<section>
    <div>
        <form method="POST">
            <h1>Edit Book</h1>
            <div class="amont_cls">
                <label for="add_amount">Amount</label>
                <input type="text" id="amount_id" name="amount_name" placeholder="19.00" required>
                <label for="add_currency">Currency</label>
                <input type="text" id="currency_id" name="currency_name" placeholder="USD" required>
            </div>

            <div class="type_cls">
                <label for="add_type">Type</label>
                <select id="type_id" name="type_name" required>
                    <option>Choose your Type</option>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                </select>
            </div>

            <div class="catagory_cls">
                <label for="add_catagory">Category</label>
                <select id="category_id" name="category_name" required>
                    <option>Choose your Category</option>
                    <option value="s_income">Income</option>
                    <option value="e_bill">Electric Bill</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="date_period_cls">
                <label for="add_preiod_date">Period Month (yy-mm-dd)</label>
                <input type="text" id="yy_id" name="yy_name" placeholder="YY" required> <!-- In the future, we just force user to just write number nothing else-->
                <select id="mm_id" name="mm_name">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>

                <select id="dd_id" name="dd_name">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select> <!-- Days change by month/ some month have 28 o2 29, some 30 and other 31-->
            </div>

            <div class="date_paid_cls"> <!-- Will be automatic if user didn't fill it-->
                <label for="add_preiod_date">Date paid (yy-mm-dd)</label>
                <input type="text" id="y_id" name="y_name" placeholder="YY" required> <!-- In the future, we just force user to just write number nothing else-->
                <select id="m_id" name="m_name">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>

                <select id="d_id" name="dd_name">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select> <!-- Days change by month/ some month have 28 o2 29, some 30 and other 31-->
            </div>

        </form>
    </div>
</section>

{% endblock %}