<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Finance Map{% endblock %}</title>

    <!-- Favicon: https://www.flaticon.com/free-icon/budget_781760?term=finance&page=1&position=3&origin=search&related_id=781760 -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/Favicon-Budget free icon.png') }}"
    >

    <link href="https://fonts.googleapis.com" rel="stylesheet">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% block extra_css %}{% endblock %}

  </head>

  <body>
  {% if show_navbar is not defined or show_navbar %}
    <!-- Top navigation bar -->
    <nav class="navbar">
      <div class="container-fluid">
        <ul class="navbar-nav">

          <!-- Home page -->
          <li class="nav-item">
            <a href="{{ url_for('main.home') }}">Home</a>

          <!-- add transactions page -->
          <li class="nav-item">
            <a href="{{ url_for('main.add_transaction') }}">Add Transaction</a>

          <!-- transactions page -->
          <li class="nav-item">
          <a href="{{ url_for('main.show_transactions') }}">Transactions</a>

          <!-- dashboard page -->
          <li class="nav-item">
          <a href="{{ url_for('main.dashboard') }}">Dashboard</a>

          <li class="nav-item">
          <a href="{{ url_for('auth.log_out') }}">Log out</a>

          </li>
        </ul>
      </div>
    </nav>
  {% endif %}

    <!-- Each page injects its content here -->
    <main class="container">
      {% block content %}{% endblock %}
    </main>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-container">
        {% for category, message in messages %}
          <div class="flash flash-{{ category }}">
            <span class="flash-text">{{ message }}</span>
            <button class="flash-close" onclick="this.parentElement.remove()">✕</button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

    <footer>
      <p>
        ©️ {{ current_year }} By Me.
      </p>
      <p> Icon by
        <a href="https://www.flaticon.com/free-icons/budget" title="budget icons">Budget icons created by Freepik - Flaticon</a>
        from
        <a href="https://www.flaticon.com">www.flaticon.com</a>, used under
        Flaticon Free License
      </p>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/dashboard_charts.js') }}"></script>

  <script src="{{ url_for('static', filename='js/forms.js') }}"></script>

  </body>
</html>