<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Finance Map{% endblock %}</title>

    <!-- Favicon: https://www.flaticon.com/free-icon/budget_781760?term=finance&page=1&position=3&origin=search&related_id=781760 -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/Favicon-Budget free icon.png') }}"
    >


    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% block extra_css %}{% endblock %}

  </head>

  <body>
    <!-- Top navigation bar -->
    <nav class="navbar">
      <div class="container-fluid">
        <ul class="navbar-nav">

          <!-- Home page -->
          <li class="nav-item">
            <a href="{{ url_for('main.home') }}">Home</a>

          <!-- add transactions page -->
          <li class="nav-item">
            <a href="{{ url_for('main.add_transaction') }}">Add Transaction</a>

          <!-- transactions page -->
          <li class="nav-item">
          <a href="{{ url_for('main.show_transactions') }}">Transactions</a>

          </li>
        </ul>
      </div>
    </nav>

    <!-- Each page injects its content here -->
    <main class="container">
      {% block content %}{% endblock %}
    </main>


    <footer>
      <p>
        ©️ {{ current_year }} By Me.
      </p>
      <p> Icon by
        <a href="https://www.flaticon.com/free-icons/budget" title="budget icons">Budget icons created by Freepik - Flaticon</a>
        from
        <a href="https://www.flaticon.com">www.flaticon.com</a>, used under
        Flaticon Free License
      </p>
    </footer>
  </body>
</html>