{% extends "base.html" %}
{% block title %}My Finance Map{% endblock %}
{% block content %}

    <p>Log In Page.</p>
    <form method="POST" action="{{ url_for('auth.login') }}">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="user@emial.com">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">

        <a href="{{ url_for('auth.sign_in') }}">Create account</a>
        <button type="submit">Login</button>

    </form>

{% endblock %}

<!-- <a href="{{ url_for('main.forgot_password') }}">Forgot Password?</a>-->