{% extends "base.html" %}
{% block title %}My Finance Map{% endblock %}
{% block content %}

    <p>Sign In Page.</p>
    <form method="POST" action="{{ url_for('auth.sign_in') }}">
        <label id="timezone">Timezone: {{ timezone }}</label> <br>

        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="user@emial.com"><br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password"><br>

        <label for="full_name">Full Name</label>
        <input type="text" name="full_name" id="full_name" placeholder="full name" required> <br>

        <label for="user_currency">Add your home currency</label>
        <select id="user_currency" name="user_currency" required>
          <option value="" selected disabled>Select</option>
          <option value="USD">USD - US Dollar</option>
          <option value="EUR">EUR - Euro</option>
          <option value="TRY">TRY - Turkish Lira</option>
          <option value="CAD">CAD - Canadian Dollar</option>
          <option value="GBP">GBP - British Pound</option>
        </select> <br>


        <label for="country">Add Your Country</label>
        <select id="country" name="country" required>
          <option value="" selected disabled>Select</option>
          <option value="USA">USA</option>
          <option value="France">France</option>
          <option value="Iran">Iran</option>
          <option value="Turkey">Turkey</option>
          <option value="Canada">Canada</option>
        </select> <br>

        <label for="state">Add Your state</label>
        <input type="text" name="state" id="state" placeholder="state" required> <br>

        <label for="city">Add Your city</label>
        <input type="text" name="city" id="city" placeholder="city" required> <br>

        <small>You will see your information in the home page, and you can edit anytime you want.</small>
        <br>

        <button type="submit">Create account</button>
        <a href="{{ url_for('auth.login') }}">I have an account</a>
    </form>

{% endblock %}
